<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <a href="LutadoresJSON">
            <li>Visualizar dados como JSON</li>
        </a>

        <a href="cadastro">
            <li>Cadastrar lutador</li>
        </a>

        <a href="fase__selecao">
            <li>Jogar UFJS</li>
        </a>
    </ul>
</body>
</html>